body {
  background: url(../img/grid.jpg) repeat;
}

#canvas {
  outline: 2px solid #000;
  margin: 100px;
}

#canvas2 {
  outline: 2px solid #000;
  margin: 100px;
}

#canvas3 {
  outline: 2px solid #000;
  margin: 100px;
}