/* line 1, ../sass/style.scss */
body {
  background: url(../img/grid.jpg) repeat;
}

/* line 5, ../sass/style.scss */
#canvas {
  outline: 2px solid #000;
  margin: 100px;
}

/* line 10, ../sass/style.scss */
#canvas2 {
  outline: 2px solid #000;
  margin: 100px;
}

/* line 15, ../sass/style.scss */
#canvas3 {
  outline: 2px solid #000;
  margin: 100px;
}
